.container p{
  font-size: 2rem;
  color: "#ffff";
}
.resposta {
  width: 90%;
  margin: 0 auto;
  word-wrap: break-word; /* quebra palavras longas */
  overflow-wrap: break-word;
  white-space: pre-wrap; /* mantém quebras de linha e quebra se necessário */
  padding: 1rem;
  box-sizing: border-box;
}
