:root {
  --bg: #333333;
  --text: #B3B3B3;
  --primary: #0071e3;
  --secondary: #4D4D4D;
  --input: #292929;
  --success: #34c759;
  --danger: #ff3b30;
  --radius: 16px;
  --shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: #dfdfdf;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

}

header {
  text-align: center;
  padding: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.container_children {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img{
  margin-top: 2em;
  width: 18em;
  height: auto;
}
.assinatura {
  width: 10em;
  height: auto;
  margin-bottom: 2em;
}

/* Inputs */
textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid var(--secondary);
  border-radius: var(--radius);
  background: var(--input);
  color: #FF6600;
  box-shadow: 0 2px 8px rgba(0, 113, 227, 0.05);
  min-height: 25vh;
  resize: none;
  margin-top: 1rem;
}

textarea:focus {
  border-color: var(--danger);
  box-shadow: 0 0 0 3px rgba(227, 136, 0, 0.3);
  outline: none;
}

/* Botões */
button {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: var(--bg);
  color: var(--text);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
   margin: 1rem auto; /* <-- Isso centraliza horizontalmente */
  display: block;
}

button:hover {
  background-color: var(--secondary);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}

/* Mobile-first adjustments */
/* Tablets retrato (ex: iPad vertical) */
@media (min-width: 600px) and (max-width: 900px) {
  textarea,
  button {
    font-size: 1.5rem;
    max-width: 500px;
  }

  .img {
    margin-top: 4em;
    max-width: 350px;
  }
  .assinatura{
    margin-bottom: 3em;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}



/* Telas grandes (ex: desktops, notebooks grandes) */
@media (min-width: 1200px) {
  textarea,
  button {
    font-size: 1.4rem;
    max-width: 700px;
  }

  img {
    max-width: 500px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.8rem;
  }
}
