.container {
 border-radius: 1em;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #121212;
}



.container button {
  padding: 0.8rem 1.5rem;
  background-color: #0071e3;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 300px;
  width: 100%;
box-shadow: 0 2px 8px rgba(0, 113, 227, 0.05);

}

.container button:hover {
  background-color: #005bb5;
}

.container a {
  color: #0071e3;
  font-weight: bold;
  text-decoration: none;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container li {
  padding: 0.2rem 0;
  border-bottom: 1px solid #333;
}

.container h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #ffffff;
}